/* reset */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root{
  font-family: 'Open sans', sans-serif;
}

/* utilis */
a{
  text-decoration: none;
  color: inherit;
}

img{
  width: 100%;
}

ul{
  list-style: none;
  padding: 0;
}

.ow-hidden{
  overflow: hidden;
}

/* header */
.logo-header{
  width: 80px;
  min-width: 80px;
  margin: 0;
}

header nav {
  line-height: 80px;
}
header a{
  border-bottom: 3px solid transparent;
  padding: 20px 0;
}

header a.active, header a:hover {
  color: #0282f9;
  border-color: #0282f9;
}

/* main */
.jumbo{
  max-height: 350px;
}

.my-badge{
  position: absolute;
  top: -50px;
  left: 0;
}

.bg-comics{
  background-color: #1c1c1c;
}

.card-image{
  height: 180px;
  overflow: hidden;
}


/* footer */
.bg-blue{
  background-color: #0282f9;
}

.shop-icons{
  width: 40px;
}

.bg-footer-links{
  background-image: url('../img/footer-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}

.footer-links-container li > a{
  color: #7d7d7d;
  font-size: 14px;
}

.logo-footer-container{
  position: relative;
  top: -90px;
}

.bg-dark-custom{
  background-color: #303030;
}

.newsletter-and-socials{
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}

.socials{
  display: flex;
  gap: 20px;
}

.socials h2{
  color: #0282f9;
  /* font-size: 20px;
  font-weight: 700;
  margin: 0; */
}

.signup-btn{
  font-size: 20px;
  border: 2px solid #0282f9;
  padding: 5px 10px;
}